[user]
	name = Tim Yager
	email = tyager@clickhere.com
[core]
	excludesfile = /Users/tim_yager/.gitignore
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  ln = log --name-status